.btn-request {
    cursor: pointer;
    border: none;
    background-color: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    padding: 18px 78px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    margin: 6px auto 0;
    &:hover {
        background-color: #0085FF;
        box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
    }
    &_active {
        background-color: #006CCF;
    }
    @media (min-width:768px){
        margin: 55px auto 0;
    }
    @media (min-width:992px){
        margin: -12px auto 0;
    }
    &_service {
        padding: 18px 39px;
        margin-bottom: 19px;
        margin-top: 28px;
        @media (min-width:768px){
            margin: 0 auto;
        }
        @media (min-width:992px) {
            margin-top: 27px;
        }
    }
    &_hight {
        margin-top: 20px;
    }
    &_tall {
        margin-bottom: 37px;
        margin-top: 0;
    }
    &_grey {
        background-color: #EDEDF7;
        box-shadow: none;
        color: #323264;
        margin-top: 37px;
        padding: 18 99px;
    }
}
